:root{
  --dark-color: #000;
  --pomodoro-color: #ba4949;
  --short-break-color: #38858a;
  --long-break-color: #397997;
  --light-text-color: #fff;
}

@font-face {
  font-weight: 400;
  font-family: TTCommons;
  font-style: normal;
  src: url("TTCommons-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: TTCommons;
  font-style: normal;
  src: url("TTCommons-Bold.woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: TTCommons, Arial, Helvetica, sans-serif;
  background-color: var(--dark-color);
  color: var(--light-text-color);
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.tabs-background {
  padding-top: 0;
  user-select: none;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
}

.tab-activation-button {
  padding: 20px 0;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.active-tab {
  color: var(--light-text-color);
}

.pomodoro-button.active-tab {
  background: var(--pomodoro-color);
}

.short-break-button.active-tab {
  background: var(--short-break-color);
}

.long-break-button.active-tab {
  background: var(--long-break-color);
}

.tabs-contant {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tabs {
  text-align: center;
}

.timer {
  display: block;
  text-align: center;
  font-size: 62px;
  font-weight: 700;
}

.timer-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.timer-control-button {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--light-text-color);
  font-weight: 700;
}

.timer-control-button[disabled] {
  opacity: 0.3;
}

@media (hover: hover) and (pointer: fine) {
  .timer-control-button:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease-in-out;
  }
  .timer-control-button[disabled]:hover {
    transform: translateY(0);
  }
}

.timer-control-button:active {
  transform: translateY(4px);
  opacity: 0.7;
}

.timer-control-button svg {
  fill: var(--light-text-color);
  transform: translateX(-2px);
}

.pomodoro-count {
  font-weight: 700;
}

.short-break-tab {
  display: none;
}

.long-break-tab {
  display: none;
}

.pomodoro-background {
  background-color: var(--pomodoro-color);
}

.short-break-tab-background {
  background-color: var(--short-break-color);
}

.short-break-tab-background .short-break-tab {
  display: block;
}

.long-break-tab-background {
  background-color: var(--long-break-color);
}

.long-break-tab-background .long-break-tab {
  display: block;
}

.long-break-tab-background .pomodoro-tab,
.long-break-tab-background .short-break-tab,
.short-break-tab-background .pomodoro-tab,
.short-break-tab-background .long-break-tab {
  display: none;
}

@media (max-width: 450px) {
  .timer-buttons {
    justify-content: space-between;
    gap: 0;
  }
}